In [103]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt




hp_business = pd.read_excel('./Hp Business Analytics Dataset.xlsx')

print(hp_business.columns)

# print(int(hp_business['Number of Funding Rounds']))
hp_business.head()


print(hp_business.info())

# hp_business = hp_business.fillna('NA')

print(hp_business.size)

print(hp_business['Company Type'].unique())

Index(['Organization Name', 'Organization Name URL', 'Headquarters Location',
       'Industries', 'Last Funding Type', 'Last Funding Date',
       'Last Funding Amount', 'Last Funding Amount Currency',
       'Last Funding Amount Currency (in USD)', 'Number of Employees',
       'Total Funding Amount', 'Total Funding Amount Currency',
       'Total Funding Amount Currency (in USD)', 'Number of Funding Rounds',
       'Acquisition Status', 'Acquired by', 'Acquired by URL',
       'Number of Acquisitions', 'Acquisition Price Currency (in USD)',
       'Number of Founders', 'Unnamed: 20', 'Acquisition Price',
       'Price Currency', 'Company Type', 'Founded Date', 'Twitter', 'Facebook',
       'LinkedIn', 'Funding Status', 'Acquisition Type', 'Announced Date',
       'Estimated Revenue Range'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21528 entries, 0 to 21527
Data columns (total 32 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Organization Name                       21527 non-null  object
 1   Organization Name URL                   21528 non-null  object
 2   Headquarters Location                   19548 non-null  object
 3   Industries                              21360 non-null  object
 4   Last Funding Type                       12473 non-null  object
 5   Last Funding Date                       12473 non-null  datetime64[ns]
 6   Last Funding Amount                     9924 non-null   float64
 7   Last Funding Amount Currency            9924 non-null   object
 8   Last Funding Amount Currency (in USD)   9924 non-null   float64
 9   Number of Employees                     19980 non-null  object
 10  Total Funding Amount                    11038 non-null  float64
 11  Total Funding Amount Currency           11038 non-null  object
 12  Total Funding Amount Currency (in USD)  11038 non-null  float64
 13  Number of Funding Rounds                12473 non-null  float64
 14  Acquisition Status                      1066 non-null   object
 15  Acquired by                             364 non-null    object
 16  Acquired by URL                         364 non-null    object
 17  Number of Acquisitions                  731 non-null    float64
 18  Acquisition Price Currency (in USD)     53 non-null     float64
 19  Number of Founders                      16119 non-null  float64
 20  Unnamed: 20                             0 non-null      float64
 21  Acquisition Price                       53 non-null     float64
 22  Price Currency                          53 non-null     object
 23  Company Type                            16465 non-null  object
 24  Founded Date                            21528 non-null  datetime64[ns]
 25  Twitter                                 16650 non-null  object
 26  Facebook                                16074 non-null  object
 27  LinkedIn                                16348 non-null  object
 28  Funding Status                          9939 non-null   object
 29  Acquisition Type                        354 non-null    object
 30  Announced Date                          364 non-null    datetime64[ns]
 31  Estimated Revenue Range                 21528 non-null  object
dtypes: datetime64[ns](3), float64(10), object(19)
memory usage: 5.3+ MB
None
688896
['For Profit' nan 'Non-profit']

In [121]:
# hp_business['Founded Date'] = pd.to_datetime(hp_business['Founded Date'])

# hp_business['Founded Date'] = hp_business['Founded Date'].dt.year

hp_business['Founded Date'].uniqueque()

array([2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [106]:
hp_business['Acquisition Status']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
21523    NaN
21524    NaN
21525    NaN
21526    NaN
21527    NaN
Name: Acquisition Status, Length: 21528, dtype: object

In [107]:
# print(hp_business.columns)

print(hp_business.size)

688896

In [108]:
groupings = ['Last Funding Type','Number of Funding Rounds','Industries','Acquisition Status','Acquired by','Number of Acquisition','Company Type','Funding Status','Acquisition Type','Estimated Revenue Range']
for i in hp_business.columns:
    if i in groupings:
        print(hp_business[i].unique(), len(hp_business[i].unique()))


vc_company = hp_business['Acquired by'].unique()

startup_location = hp_business['Headquarters Location'].unique()

['Apps, Autonomous Vehicles, Internet, Sensor, Transportation'
 'Developer APIs, Health Care, Medical, Medical Device, Messaging, Pharmaceutical'
 'Logistics, Shipping, Supply Chain Management' ... 'Education, Training'
 'Information Technology, Machine Learning'
 'Construction, Service Industry'] 15862
['Series C' 'Venture - Series Unknown' 'Debt Financing' 'Series B'
 'Initial Coin Offering' 'Series A' 'Undisclosed' 'Seed'
 'Convertible Note' 'Angel' 'Post-IPO Secondary' 'Series D'
 'Corporate Round' 'Grant' 'Product Crowdfunding' 'Private Equity'
 'Post-IPO Equity' 'Equity Crowdfunding' 'Non-equity Assistance'
 'Pre-Seed' nan 'Series E' 'Secondary Market' 'Post-IPO Debt' 'Series F'
 'Series G'] 26
[ 4.  3.  5.  1.  7.  8.  6.  2.  9. nan 13. 10. 12. 11. 14.] 15
[nan 'Made Acquisitions' 'Was Acquired' 'Made Acquisitions, Was Acquired'] 4
[nan 'Atari' 'MetLife' 'Bustle Digital Group' 'Betterworks, Inc.'
 'S.C. Johnson & Son' 'Apple' 'PTC Therapeutics' 'ClassPass'
 'Zurich Insurance Group' 'Didi Chuxing' 'Workfront'
 'Integra LifeSciences' 'Elsevier' 'ByteDance' 'UrbanSitter'
 'LeBoncoin.fr' 'Alantra' 'BAE Systems' 'Transplace' 'Slyce' 'Jivochat'
 'Republic' 'TSG' 'RENT IT BAE' 'Bango' 'MasterCard' 'Swiggy' 'Shopify'
 'PayU' 'Zomato' 'Majid Al Futtaim Holdings LLC.' 'BigBasket'
 'EVR Holdings' 'Oh My Green' 'WorkJam' 'The Middleby Corp' 'Wealthfront'
 'Slack' 'Infoblox' 'Vodacom' 'Palo Alto Networks' 'DataRobot' 'HomeLight'
 'Ceridian' 'Checkout' 'InsightSquared' 'Mail.Ru Group' 'Movinga'
 'SKF Group' 'Gilead Sciences' 'YieldStreet' 'EAT Club' 'Alteryx'
 'Bold Penguin' 'The Mobile Wallet' 'Twitch' 'IL MAKIAGE' 'Cresco Labs'
 'Societe Generale' 'Transcenta' 'HealthAssure' 'Fair' 'Velodyne LiDAR'
 'TELUS Health' 'Nordstrom' 'CODA Biotherapeutics' 'TIBCO'
 'Aleafia Health' 'OfferUp' 'Insight Partners' 'Pluralsight' 'Facebook'
 'Spotify' 'Geopost' 'Farfetch' 'ServiceNow' 'Altice SA' 'Amazon'
 'BioNTech' 'Five Below' 'Viome' 'Vertex Pharmaceuticals' 'Terminus'
 'Delivery Hero' 'Dr Pepper Snapple Group' 'Hyve Group' 'Pendo'
 'Novena Global Healthcare Group' 'Nabriva Therapeutics' 'Yijiupi'
 'Silver Lake Partners' 'Veeva' 'Partners Group' 'Netsam Participaties BV'
 'IAC' 'VMware' 'Acorns' '1mg' 'Freshworks' 'ZoomInfo' 'CoStar Group'
 'Trading Technologies' 'Curator Solutions' 'Banijay Group' 'Mekari'
 'OSET' 'Micro Focus' 'Indeed' 'OVO' 'Getaround' 'Booz Allen Hamilton'
 'Medal' 'SmartSpace Software Plc' 'Mirantis' 'Earnin' 'Compass'
 'Weddyplace' 'Welcoming' 'Sodexo' 'Goal Structured Solutions'
 'Health Catalyst' 'Nike' 'OverActive Media Group' 'Lendio' 'Loft'
 'ZIVELO' 'Okta' 'Fintec Ventures' 'Wana Family Network' 'Alfred KÃ¤rcher'
 'Unifrax' 'Wacoal' 'VSCO' 'American Express' 'Novica United' 'MSCI'
 'KAR Auction Services' 'Airbnb' 'italki' 'L&T Infotech' 'DNA Payments'
 'KGS' 'McKesson' 'Sumo Logic' 'Pinterest' 'Paytm' 'Celsius Network'
 'Akamai Technologies' 'Resideo Technologies' 'NIC' 'Carelabs' 'iCIMS'
 'ASMIQ' 'Augury' 'Warner Bros. Interactive Entertainment' 'McAfee'
 'Bullhorn' 'WebCargoNet' 'Aon plc' 'Emami' 'Trax' 'Blockchains' 'Gfinity'
 '2U Inc.' 'KnowBe4' 'GamePlan' 'Ubooker' 'OYO' 'New Relic' 'Groupe VYV'
 'XING' 'Waymark Tech' 'Beetroot' 'Flipkart' 'Pricefx' 'Move' 'Zendesk'
 'Wrench' 'Virgin Pulse' 'Mobileye, an Intel Company' 'Yandex'
 'Raven Industries' '6sense' 'RelishCareers'
 'VinaCapital Investment Management' 'Bokio' 'Quantum' 'MyBuddy.ai'
 'The We Company' 'NVIDIA' 'Advent International' 'Fiix Software'
 'Stingray' 'One Concern' 'OpenROV' 'Gojek' 'BlueSnap' 'UiPath'
 'Vocalis Health' 'Auto Driveaway' 'Newforma' 'Ticketmaster'
 'Applied Systems' 'Animoca Brands' 'Youon Bike' 'AMTD Group'
 'Even Financial' 'Royal DSM' 'Lyft' 'Higher Ground Education' 'Accenture'
 'Zoetis' 'RepairSmith' 'Social Chain' 'Aurora' 'Credit Suisse' 'AirMap'
 'Trend Micro' 'DoorDash' 'Workday' 'Square' 'People Corporation'
 'Invitae' 'dSPACE' 'Hired' 'DoNotPay' 'Zogenix' 'Merck'
 'Litera Microsystems' 'AbbVie' 'Proofpoint' 'Xura'
 'Patriot One Technologies' 'Prudential Financial' 'NetApp' 'Bayer'
 'Altice USA' 'Xilinx' 'Etraveli' 'Ziptel' 'Caterwings (Rocket Internet)'
 'Smith & Nephew' 'Stitch Fix' 'Travelers Insurance' 'Jollychic'
 'Vection Technologies' 'OST' 'EGW Capital' 'ShopBack' 'ZiffyHomes'
 'Enechange' 'Tron' 'Reliance Industries' 'Built Technologies' 'Bidstack'
 'Novantas' 'ServiceMax' 'Matterport' 'BetterPlace Safety Solutions'
 'Capital One' 'Brainshark' 'DPR Consulting Ltd.' 'Goscale' 'PlanOmatic'
 'BallerTV' 'Barracuda Networks' 'Bloom Intelligence'
 'Google Cloud Platform' 'Surf Air' 'Cisco' 'Ford Smart Mobility'
 'Gainsight' 'Rise People' 'TVS Automobile Solutions' 'Netcore Solutions'
 'Sberbank' 'Agritek Holdings Inc' 'MobileIron' 'UserTesting' 'Knoema'
 'Fuzzy' 'Blue Vector' 'Takeda Pharmaceutical' 'SailPoint Technologies'
 'Procter & Gamble Company' 'Asklepios BioPharmaceutical' 'Zscaler'
 'GoBear' 'Attention Capital' 'Salesforce' 'CBL Markets' 'Hyland Software'
 'Check Point Software Technologies' 'DTN' 'DoiT International' 'BUX'
 'Bloomberg' 'TNG FinTech Group Inc.' 'ADM Group' 'Nominet UK' 'PayLease'
 'Novartis' 'elf Cosmetics' 'Frontdoor' 'u-blox' "McDonald's" 'Splunk'
 'Cabot Square Capital' 'Azubu' 'Match Group' 'Micron Technology'
 'NestlÃ© Health Science' 'BitGo' 'Niantic' 'DAXKO' 'Seersite'
 'Vanco Payment Solutions' 'HBC Investments' 'Hg' 'SITO' 'Bird'
 'Heavenly Rx' 'Teradyne' 'Improbable' 'HaulHub' 'Vista Equity Partners'] 327
['For Profit' nan 'Non-profit'] 3
['Late Stage Venture' nan 'Early Stage Venture' 'Seed' 'IPO' 'M&A'
 'Private Equity'] 7
[nan 'Acquisition' 'Leveraged Buyout' 'Merger' 'Acquihire'
 'Management Buyout'] 6
['Less than $1M' '$1M to $10M' '$10M to $50M'] 3

In [109]:
country_location=[]
for i in startup_location:
#     country_location.append(i.split(','))
    try:
        i= i.split(',')
        x= len(i) - 1
        country_location.append(i[x])
    except AttributeError:
        pass
 


# print(country_location)

unique_country = set(country_location)

print(unique_country)

total_countries = len(unique_country)

print(total_countries)

{' Mexico', ' Finland', ' Uganda', ' Jordan', ' El Salvador', ' Sri Lanka', ' Benin', ' United Kingdom', ' Lesotho', ' Slovenia', ' Argentina', ' Bulgaria', ' Fiji', ' Peru', ' Hong Kong', ' France', ' Russian Federation', ' South Korea', ' Singapore', ' Isle of Man', ' Taiwan', ' Sweden', ' Philippines', ' Greece', ' Austria', ' Iran', ' Ireland', ' Angola', ' Azerbaijan', ' Mongolia', ' Montenegro', ' Slovakia (Slovak Republic)', ' Chile', ' Germany', ' New Zealand', ' Iceland', ' Mauritius', ' United Arab Emirates', ' Bahrain', ' Myanmar', ' Indonesia', ' Czech Republic', ' South Africa', ' Luxembourg', 'Belgrade', ' Afghanistan', ' Norway', ' Ukraine', ' Rwanda', ' Ghana', ' Senegal', ' Occupied', ' Thailand', ' Venezuela', ' Morocco', ' Armenia', ' Kuwait', ' Kazakhstan', ' Costa Rica', ' United States', ' Honduras', ' Lebanon', ' India', ' Belgium', ' Trinidad and Tobago', ' Gibraltar', ' Ethiopia', ' Egypt', ' Croatia', ' Portugal', ' Namibia', ' Maldives', ' Panama', ' Poland', ' Australia', " CÃ´te d'Ivoire", ' Pakistan', ' Cayman Islands', ' Puerto Rico', ' Lithuania', ' Tunisia', ' Liechtenstein', ' The Netherlands', ' Hungary', ' Malaysia', ' Saudi Arabia', ' Belarus', ' Cameroon', ' Nigeria', ' Bangladesh', ' Malta', ' Uruguay', ' Colombia', ' Cyprus', ' Estonia', ' Bermuda', ' Switzerland', ' Brazil', ' Tanzania', ' Italy', ' Dominican Republic', ' Kenya', ' Romania', ' Guatemala', ' Latvia', ' Zimbabwe', ' Spain', ' Moldova', ' Canada', ' Jamaica', ' Japan', ' Ecuador', ' Denmark', ' Albania', ' Syria', ' Cambodia', ' Nepal', ' Serbia', ' Turkey', ' Vietnam', ' Macedonia', ' Israel', ' China'}
123

In [110]:
hp_business.describe()

,Last Funding Amount,Last Funding Amount Currency (in USD),Total Funding Amount,Total Funding Amount Currency (in USD),Number of Funding Rounds,Number of Acquisitions,Acquisition Price Currency (in USD),Number of Founders,Unnamed: 20,Acquisition Price,Founded Date
count,9.924000e+03,9.924000e+03,1.103800e+04,1.103800e+04,12473.000000,731.000000,5.300000e+01,16119.000000,0.0,5.300000e+01,21528.000000
mean,3.443762e+07,1.218798e+07,3.664472e+07,1.967612e+07,2.309549,1.454172,3.949920e+08,1.997829,NaN,3.967445e+08,2015.812152
std,5.335483e+08,4.751057e+07,5.042569e+08,9.479053e+07,1.479869,1.213630,7.533893e+08,1.050792,NaN,7.525737e+08,0.995422
min,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000,1.000000,1.440760e+06,0.000000,NaN,1.480000e+06,2015.000000
25%,7.500000e+05,6.874405e+05,1.000000e+06,9.700000e+05,1.000000,1.000000,3.006000e+07,1.000000,NaN,3.770000e+07,2015.000000
50%,2.885677e+06,2.509196e+06,3.500000e+06,3.307082e+06,2.000000,1.000000,1.700000e+08,2.000000,NaN,1.700000e+08,2015.000000
75%,1.000000e+07,9.106738e+06,1.255587e+07,1.200000e+07,3.000000,1.000000,4.500000e+08,3.000000,NaN,4.500000e+08,2016.000000
max,3.000000e+10,2.600000e+09,3.000000e+10,4.100000e+09,14.000000,17.000000,4.900000e+09,10.000000,NaN,4.900000e+09,2020.000000

In [111]:
#Data queries
# for i in hp_business['Last Funding Type'].unique():
#     print(i)
#     startup_revenue_range= hp_business[hp_business['Last Funding Type'] == f'{i}']
#     startup_revenue_range.to_csv(f'./{i}.csv')

# startup_revenue_range

In [112]:
last_funding_type =  hp_business['Last Funding Type'].unique()

last_funding_type

array(['Series C', 'Venture - Series Unknown', 'Debt Financing',
       'Series B', 'Initial Coin Offering', 'Series A', 'Undisclosed',
       'Seed', 'Convertible Note', 'Angel', 'Post-IPO Secondary',
       'Series D', 'Corporate Round', 'Grant', 'Product Crowdfunding',
       'Private Equity', 'Post-IPO Equity', 'Equity Crowdfunding',
       'Non-equity Assistance', 'Pre-Seed', nan, 'Series E',
       'Secondary Market', 'Post-IPO Debt', 'Series F', 'Series G'],
      dtype=object)

In [113]:
hp_dataset_industries = hp_business.groupby('Industries')[['Total Funding Amount Currency (in USD)']].mean()

hp_dataset_industries = hp_dataset_industries.dropna()

hp_dataset_industries

                                                    Total Funding Amount Currency (in USD)
Industries
3D Printing, 3D Technology, Advanced Materials,...                                700000.0
3D Printing, 3D Technology, Android, Artificial...                                220000.0
3D Printing, 3D Technology, Apps, CAD, Industri...                               7300000.0
3D Printing, 3D Technology, CAD, Retail, Retail...                                 50000.0
3D Printing, 3D Technology, Chemical, Printing                                    325000.0
...                                                                                    ...
iOS, Mobile, Social Media                                                        3342692.0
iOS, Music                                                                        648147.0
iOS, Software                                                                     150000.0
mHealth                                                                           130000.0
mHealth, Personal Health, Wellness                                               1430000.0

[9296 rows x 1 columns]

In [114]:
funding_status = hp_business.groupby(['Funding Status','Estimated Revenue Range'])[['Organization Name']].count()

funding_status

                                             Organization Name
Funding Status      Estimated Revenue Range
Early Stage Venture $10M to $50M                           278
                    $1M to $10M                           1975
                    Less than $1M                          857
IPO                 $10M to $50M                            39
                    $1M to $10M                             68
                    Less than $1M                           44
Late Stage Venture  $10M to $50M                            79
                    $1M to $10M                            163
                    Less than $1M                           16
M&A                 $10M to $50M                            51
                    $1M to $10M                            210
                    Less than $1M                          103
Private Equity      $10M to $50M                            29
                    $1M to $10M                             41
                    Less than $1M                           30
Seed                $10M to $50M                           215
                    $1M to $10M                           2511
                    Less than $1M                         3229

In [115]:
acquisition_price = hp_business[['Organization Name','Acquisition Price','Estimated Revenue Range']]

acquired_startups = acquisition_price.dropna()

acquired_startups

                Organization Name  Acquisition Price Estimated Revenue Range
1089                      Audiens       1.480000e+06             $1M to $10M
1113              6 River Systems       4.500000e+08             $1M to $10M
1124                     PaySense       1.850000e+08             $1M to $10M
1457                      Scootsy       8.000000e+06             $1M to $10M
1489                        SECDO       1.000000e+08             $1M to $10M
1630             Cell Design Labs       5.670000e+08             $1M to $10M
1666           Athena Art Finance       1.700000e+08             $1M to $10M
1681                 Feature Labs       3.770000e+07             $1M to $10M
1728                 Origin House       8.500000e+08             $1M to $10M
1783              Xchange Leasing       4.000000e+08             $1M to $10M
1964                       Emblem       1.732000e+07             $1M to $10M
2017               Armis Security       1.000000e+09            $10M to $50M
2025                  Forty Seven       4.900000e+09            $10M to $50M
2033                     GitPrime       1.700000e+08            $10M to $50M
2052                       Anchor       1.400000e+08            $10M to $50M
2065                Stadium Goods       2.500000e+08            $10M to $50M
2079            Neon Therapeutics       6.700000e+07            $10M to $50M
2103           Semma Therapeutics       9.500000e+08            $10M to $50M
2162                    Xingkeduo       3.500000e+08            $10M to $50M
2256                  TEG Pty Ltd       1.300000e+09            $10M to $50M
2389                    Twistlock       4.100000e+08             $1M to $10M
3213          Endemol Shine Group       2.200000e+09            $10M to $50M
3891                   Nabobil.no       1.200000e+07             $1M to $10M
4719                  Able Health       2.700000e+07           Less than $1M
5518                     Oak Labs       1.600000e+07             $1M to $10M
6268                   WearLively       8.500000e+07             $1M to $10M
6381                       DRIVIN       4.300000e+07             $1M to $10M
7195                      Demisto       5.600000e+08            $10M to $50M
8552                      RedLock       1.730000e+08            $10M to $50M
8636                    RealSport       2.400000e+06             $1M to $10M
8643   Trilogy Education Services       7.500000e+08             $1M to $10M
9344             Innov8 Coworking       3.000000e+07             $1M to $10M
9496                     Honeypot       5.700000e+07             $1M to $10M
9998                       Opcity       2.100000e+08            $10M to $50M
12073                       Quidd       8.000000e+06             $1M to $10M
12584                  ChameleonX       2.000000e+07             $1M to $10M
12589          Modis Therapeutics       2.500000e+08             $1M to $10M
12594          Tilos Therapeutics       7.730000e+08             $1M to $10M
12651               Meta Networks       1.200000e+08             $1M to $10M
12663                      Jungla       5.000000e+07             $1M to $10M
12805                   Xtract AI       6.000000e+06             $1M to $10M
12979       BlueRock Therapeutics       1.000000e+09            $10M to $50M
12983                     Cheddar       2.000000e+08            $10M to $50M
13556              Tesseract Inc.       1.025000e+08           Less than $1M
15197                      Heptio       5.500000e+08             $1M to $10M
15524                     Cognigo       7.000000e+07           Less than $1M
16091                     Xnor.ai       2.000000e+08             $1M to $10M
16121        Exonics Therapeutics       2.450000e+08             $1M to $10M
16137               PvP Biologics       3.300000e+08             $1M to $10M
17767                    ADM Labs       5.700000e+07             $1M to $10M
17915                 W3LL PEOPLE       2.700000e+07             $1M to $10M
20382          BlÃ¼hen Botanicals       3.006000e+07           Less than $1M
21393              Allvue Systems       5.000000e+08             $1M to $10M

In [116]:
hp_business['Number of Funding Rounds']

0        4.0
1        3.0
2        5.0
3        4.0
4        1.0
        ...
21523    NaN
21524    NaN
21525    NaN
21526    NaN
21527    NaN
Name: Number of Funding Rounds, Length: 21528, dtype: float64

In [117]:

funding = hp_business['Number of Funding Rounds'] != 'NaN'
founding_date = hp_business['Founded Date'] != 'NaN'
# acquisition = hp_business['Acquired by'] != 'NaN'
startup_funding_rounds = hp_business.loc[funding & founding_date]

# startup_revenue_data = startup_funding_rounds.groupby(['Number of Funding Rounds','Estimated Revenue Range'])[['Organization Name']].count()

# startup_revenue_data

startup_funding_rounds

,Organization Name,Organization Name URL,Headquarters Location,Industries,Last Funding Type,Last Funding Date,Last Funding Amount,Last Funding Amount Currency,Last Funding Amount Currency (in USD),Number of Employees,...,Price Currency,Company Type,Founded Date,Twitter,Facebook,LinkedIn,Funding Status,Acquisition Type,Announced Date,Estimated Revenue Range
0,Nexar,https://www.crunchbase.com/organization/nexar-2,"Tel Aviv, Tel Aviv, Israel","Apps, Autonomous Vehicles, Internet, Sensor, T...",Series C,2020-04-30,52000000.0,USD,52000000.0,101-250,...,NaN,For Profit,2015,http://twitter.com/getnexar,https://facebook.com/getnexar,https://www.linkedin.com/company/10460529,Late Stage Venture,NaN,NaT,Less than $1M
1,Medable,https://www.crunchbase.com/organization/medabl...,"Palo Alto, California, United States","Developer APIs, Health Care, Medical, Medical ...",Venture - Series Unknown,2020-05-04,25000000.0,USD,25000000.0,101-250,...,NaN,For Profit,2015,http://twitter.com/MedableInc,https://www.facebook.com/MedableInc/,https://www.linkedin.com/company/medable-inc-/,NaN,NaN,NaT,Less than $1M
2,Instabox,https://www.crunchbase.com/organization/instabox,"HÃ¤gersten, Stockholms Lan, Sweden","Logistics, Shipping, Supply Chain Management",Debt Financing,2020-04-08,23000000.0,EUR,24978252.0,101-250,...,NaN,For Profit,2015,NaN,https://www.facebook.com/instabox.se,https://www.linkedin.com/company/instabox-ab/,NaN,NaN,NaT,Less than $1M
3,Triller,https://www.crunchbase.com/organization/triller,"New York, New York, United States","Digital Media, Music, Social Network",Series B,2019-10-23,28000000.0,USD,28000000.0,11-50,...,NaN,For Profit,2015,https://twitter.com/triller,https://www.facebook.com/trillervids,https://www.linkedin.com/company/triller,Early Stage Venture,NaN,NaT,Less than $1M
4,OPSkins,https://www.crunchbase.com/organization/opskins,"Santa Monica, California, United States","E-Commerce, Gaming, Internet",Initial Coin Offering,2017-11-13,41000000.0,USD,41000000.0,11-50,...,NaN,For Profit,2015,https://twitter.com/opskinsgo,https://www.facebook.com/opskins,https://www.linkedin.com/company/opskins-com--...,NaN,NaN,NaT,Less than $1M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21523,MAGGCOM,https://www.crunchbase.com/organization/maggco...,"Mumbai, Maharashtra, India","E-Commerce, Fashion, Lifestyle, Retail",NaN,NaT,NaN,NaN,NaN,1-10,...,NaN,For Profit,2020,https://www.twitter.com/maggcomofficial,https://www.facebook.com/maggcomofficial,https://www.linkedin.com/company/maggcom-com,NaN,NaN,NaT,$1M to $10M
21524,Wedding Flowers Bronx,https://www.crunchbase.com/organization/weddin...,"Bronx, New York, United States",E-Commerce,NaN,NaT,NaN,NaN,NaN,1-10,...,NaN,Non-profit,2020,https://twitter.com/BronxFlowers,https://web.facebook.com/pg/Wedding-Flowers-Br...,NaN,NaN,NaN,NaT,Less than $1M
21525,Rastor-instituutti,https://www.crunchbase.com/organization/rastor...,"Espoo, Southern Finland, Finland","Education, Training",NaN,NaT,NaN,NaN,NaN,101-250,...,NaN,For Profit,2020,https://twitter.com/rastorinst,https://www.facebook.com/rastorinst/,https://www.linkedin.com/school/rastor-institu...,NaN,NaN,NaT,$1M to $10M
21526,Semanttica,https://www.crunchbase.com/organization/semant...,NaN,"Information Technology, Machine Learning",NaN,NaT,NaN,NaN,NaN,1-10,...,NaN,NaN,2020,http://twitter.com/Semanttica,NaN,NaN,NaN,NaN,NaT,Less than $1M
21527,Virra,https://www.crunchbase.com/organization/virra,"Kuusankoski, Southern Finland, Finland","Construction, Service Industry",NaN,NaT,NaN,NaN,NaN,1-10,...,NaN,For Profit,2020,NaN,https://www.facebook.com/VirraTalotekniikkaOy,https://www.linkedin.com/company/virra-talotek...,NaN,NaN,NaT,$10M to $50M

In [122]:
hp_business['Acquired by'].unique()

array([nan, 'Atari', 'MetLife', 'Bustle Digital Group',
       'Betterworks, Inc.', 'S.C. Johnson & Son', 'Apple',
       'PTC Therapeutics', 'ClassPass', 'Zurich Insurance Group',
       'Didi Chuxing', 'Workfront', 'Integra LifeSciences', 'Elsevier',
       'ByteDance', 'UrbanSitter', 'LeBoncoin.fr', 'Alantra',
       'BAE Systems', 'Transplace', 'Slyce', 'Jivochat', 'Republic',
       'TSG', 'RENT IT BAE', 'Bango', 'MasterCard', 'Swiggy', 'Shopify',
       'PayU', 'Zomato', 'Majid Al Futtaim Holdings LLC.', 'BigBasket',
       'EVR Holdings', 'Oh My Green', 'WorkJam', 'The Middleby Corp',
       'Wealthfront', 'Slack', 'Infoblox', 'Vodacom',
       'Palo Alto Networks', 'DataRobot', 'HomeLight', 'Ceridian',
       'Checkout', 'InsightSquared', 'Mail.Ru Group', 'Movinga',
       'SKF Group', 'Gilead Sciences', 'YieldStreet', 'EAT Club',
       'Alteryx', 'Bold Penguin', 'The Mobile Wallet', 'Twitch',
       'IL MAKIAGE', 'Cresco Labs', 'Societe Generale', 'Transcenta',
       'HealthAssure', 'Fair', 'Velodyne LiDAR', 'TELUS Health',
       'Nordstrom', 'CODA Biotherapeutics', 'TIBCO', 'Aleafia Health',
       'OfferUp', 'Insight Partners', 'Pluralsight', 'Facebook',
       'Spotify', 'Geopost', 'Farfetch', 'ServiceNow', 'Altice SA',
       'Amazon', 'BioNTech', 'Five Below', 'Viome',
       'Vertex Pharmaceuticals', 'Terminus', 'Delivery Hero',
       'Dr Pepper Snapple Group', 'Hyve Group', 'Pendo',
       'Novena Global Healthcare Group', 'Nabriva Therapeutics',
       'Yijiupi', 'Silver Lake Partners', 'Veeva', 'Partners Group',
       'Netsam Participaties BV', 'IAC', 'VMware', 'Acorns', '1mg',
       'Freshworks', 'ZoomInfo', 'CoStar Group', 'Trading Technologies',
       'Curator Solutions', 'Banijay Group', 'Mekari', 'OSET',
       'Micro Focus', 'Indeed', 'OVO', 'Getaround', 'Booz Allen Hamilton',
       'Medal', 'SmartSpace Software Plc', 'Mirantis', 'Earnin',
       'Compass', 'Weddyplace', 'Welcoming', 'Sodexo',
       'Goal Structured Solutions', 'Health Catalyst', 'Nike',
       'OverActive Media Group', 'Lendio', 'Loft', 'ZIVELO', 'Okta',
       'Fintec Ventures', 'Wana Family Network', 'Alfred KÃ¤rcher',
       'Unifrax', 'Wacoal', 'VSCO', 'American Express', 'Novica United',
       'MSCI', 'KAR Auction Services', 'Airbnb', 'italki', 'L&T Infotech',
       'DNA Payments', 'KGS', 'McKesson', 'Sumo Logic', 'Pinterest',
       'Paytm', 'Celsius Network', 'Akamai Technologies',
       'Resideo Technologies', 'NIC', 'Carelabs', 'iCIMS', 'ASMIQ',
       'Augury', 'Warner Bros. Interactive Entertainment', 'McAfee',
       'Bullhorn', 'WebCargoNet', 'Aon plc', 'Emami', 'Trax',
       'Blockchains', 'Gfinity', '2U Inc.', 'KnowBe4', 'GamePlan',
       'Ubooker', 'OYO', 'New Relic', 'Groupe VYV', 'XING',
       'Waymark Tech', 'Beetroot', 'Flipkart', 'Pricefx', 'Move',
       'Zendesk', 'Wrench', 'Virgin Pulse', 'Mobileye, an Intel Company',
       'Yandex', 'Raven Industries', '6sense', 'RelishCareers',
       'VinaCapital Investment Management', 'Bokio', 'Quantum',
       'MyBuddy.ai', 'The We Company', 'NVIDIA', 'Advent International',
       'Fiix Software', 'Stingray', 'One Concern', 'OpenROV', 'Gojek',
       'BlueSnap', 'UiPath', 'Vocalis Health', 'Auto Driveaway',
       'Newforma', 'Ticketmaster', 'Applied Systems', 'Animoca Brands',
       'Youon Bike', 'AMTD Group', 'Even Financial', 'Royal DSM', 'Lyft',
       'Higher Ground Education', 'Accenture', 'Zoetis', 'RepairSmith',
       'Social Chain', 'Aurora', 'Credit Suisse', 'AirMap', 'Trend Micro',
       'DoorDash', 'Workday', 'Square', 'People Corporation', 'Invitae',
       'dSPACE', 'Hired', 'DoNotPay', 'Zogenix', 'Merck',
       'Litera Microsystems', 'AbbVie', 'Proofpoint', 'Xura',
       'Patriot One Technologies', 'Prudential Financial', 'NetApp',
       'Bayer', 'Altice USA', 'Xilinx', 'Etraveli', 'Ziptel',
       'Caterwings (Rocket Internet)', 'Smith & Nephew', 'Stitch Fix',
       'Travelers Insurance', 'Jollychic', 'Vection Technologies', 'OST',
       'EGW Capital', 'ShopBack', 'ZiffyHomes', 'Enechange', 'Tron',
       'Reliance Industries', 'Built Technologies', 'Bidstack',
       'Novantas', 'ServiceMax', 'Matterport',
       'BetterPlace Safety Solutions', 'Capital One', 'Brainshark',
       'DPR Consulting Ltd.', 'Goscale', 'PlanOmatic', 'BallerTV',
       'Barracuda Networks', 'Bloom Intelligence',
       'Google Cloud Platform', 'Surf Air', 'Cisco',
       'Ford Smart Mobility', 'Gainsight', 'Rise People',
       'TVS Automobile Solutions', 'Netcore Solutions', 'Sberbank',
       'Agritek Holdings Inc', 'MobileIron', 'UserTesting', 'Knoema',
       'Fuzzy', 'Blue Vector', 'Takeda Pharmaceutical',
       'SailPoint Technologies', 'Procter & Gamble Company',
       'Asklepios BioPharmaceutical', 'Zscaler', 'GoBear',
       'Attention Capital', 'Salesforce', 'CBL Markets',
       'Hyland Software', 'Check Point Software Technologies', 'DTN',
       'DoiT International', 'BUX', 'Bloomberg', 'TNG FinTech Group Inc.',
       'ADM Group', 'Nominet UK', 'PayLease', 'Novartis', 'elf Cosmetics',
       'Frontdoor', 'u-blox', "McDonald's", 'Splunk',
       'Cabot Square Capital', 'Azubu', 'Match Group',
       'Micron Technology', 'NestlÃ© Health Science', 'BitGo', 'Niantic',
       'DAXKO', 'Seersite', 'Vanco Payment Solutions', 'HBC Investments',
       'Hg', 'SITO', 'Bird', 'Heavenly Rx', 'Teradyne', 'Improbable',
       'HaulHub', 'Vista Equity Partners'], dtype=object)

In [123]:

plt.figure(figsize= (15,10))
sns.lineplot(data=startup_founding_rounds, x='Founded Date', y='Number of Employes')


# Optionally, add titles and labels
plt.title('Time Series Plot')
plt.xlabel('Date')
plt.ylabel('Employees')

plt.show()

SyntaxError: positional argument follows keyword argument (1649934865.py, line 1)